.colMargin{
    margin-top:150px;
    margin-left:100px;
    
}


.imgStyle{
    width:300px;
    margin-bottom:10px;
    margin-top:10px;
   

}
.heading-1{
    color:#3f4238
}
.btnStyle{
    border:none;
    color:white;
    background-color:#8338ec;
    padding:5px;
    width:300px;
}

.continueStyle{
    border: 1px solid #e8e8e4;
    padding:10px; 
    width:300px; 
    box-shadow: 4px 4px 10px  #e8e8e4
}

.squareStyle{
    width:15px;
    height:15px;
}

.otpBox{
    background-color:#caf0f8;
    border: none; 
    padding:5px;
    width:30px;
    height: 40px;
    margin-right:20px
}

.link{
    text-decoration: none;
}

.inputBox{
    background-color:#caf0f8;
    border: none;
    padding:5px;
    width:300px 
}

@media (max-width: 450px){
    .colMargin{
        margin:0px;
        margin-top: 70px;
        
    }
    .colMargin2{
        margin-top: 70px;
        margin-left: 30px;
    }
    .center{
        margin:0;
        margin-left: 50px;
        padding-left: 20px;
        
    }

    .btnStyle{
        margin-top: 20px;
    }

    .inputBox{
        margin-bottom: 20px;
    }

    .removeDisplay{
        display: none;
    }
}
